@media screen and (min-width: 1000px) {
    .container-sm{
        width: 65%;
        #custome{
             max-width: 25%;
        }
        input{
           max-width: 80%;
        }
        .bi-person-fill{
            top: 370px;
        }
}   }